# Entorno de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración y credenciales
config.py
*.env
.env

# Logs y archivos temporales
*.log
*.pid
*.session

# Reportes y archivos generados
*.pdf
*.csv

# Archivos ignorados específicos
.gitignore

# Códigos QR generados
qrcodes/
