<!-- index.html -->
{% include 'includes/header.html' %}
<h1>Gestión de Inventario</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.precio }}</td>
            <td>
                <a href="/producto/{{ producto.id }}">Ver QR</a>
                <a href="/eliminar/{{ producto.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/footer.html' %}
