<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - StockBeam</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Flowbite (Componentes Adicionales) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <section class="w-full max-w-sm bg-white p-6 rounded-lg shadow-lg">
        <div class="text-center">
            <img class="w-40 h-auto mx-auto" src="../static/img/1.png" alt="Logo StockBeam">
            <h3 class="mt-3 text-2xl font-semibold text-gray-700">Bienvenido</h3>
            <p class="mt-1 text-gray-500">Inicia sesión en StockBeam</p>
        </div>

        <form action="/login" method="POST" class="mt-6">
            <div>
                <input type="text" name="username" placeholder="Username" 
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-orange-500 focus:ring-orange-300 focus:outline-none focus:ring focus:ring-opacity-40"
                    required />
            </div>

            <div class="mt-4">
                <input type="password" name="password" placeholder="Password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg focus:border-orange-500 focus:ring-orange-300 focus:outline-none focus:ring focus:ring-opacity-40"
                    required />
            </div>

            <div class="flex items-center justify-center mt-6">
                <button type="submit" 
                    class="w-full px-4 py-2 text-white bg-orange-500 rounded-lg shadow-md hover:bg-orange-600 transition duration-300">
                    Sign In
                </button>
            </div>
        </form>
    </section>
</body>

</html>
